<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/static/score.png" />
  <title>Real-Time Game Annotation</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <style>
    body { -moz-user-select:none; -webkit-user-select:none; }
    #rtgaPage { height:100%; display:flex; flex-direction:column; }
    #rtgaPage > .ui-panel-wrapper { height:100%; display:flex; flex-direction:column; }
    
    #rtgaContent { padding:0px; margin:0px; height:100%; user-select:none; -moz-user-select:none; -webkit-user-select:none;  }
    .rtga { padding:0px; margin:0px; width:100%; height:60%; display:flex; flex-direction:row; }
    .rtga .panel { display:flex; flex-grow:1; border: 1px solid gray;}

  </style>
</head>
<body data-csrf-token="{{ csrf_token }}">
<div data-role="page" id="rtgaPage">

  <div role="main" class="ui-content" id="rtgaContent">
    <div style="padding:3rem;">
      
        <label for="teamName">Name:</label>
        <input type="text" name="name" id="teamName" placeholder="Team Name">
        <label for="teamShortName">Short Name:</label>
        <input type="text" name="shortname" id="teamShortName" placeholder="Team Short Name">
        <label for="teamLogo">Logo: (URL to 32x32 image)</label>
        <input type="text" name="logo" id="teamLogo" placeholder="/static/logo-32.jpg">
        <label for="teamPlayers">Players:</label>
        <textarea name="players" id="teamPlayers" rows="12"></textarea>
        <a href="#" id="btnTeamCreate" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" >Create</a>
      
    </div>
  </div>

</div>

<script>

  var app = {};

  function initCreatorId() {
    app.creatorId = localStorage.getItem('creatorId');
    if (app.creatorId == null || app.creatorId == '') {
      app.creatorId = guid();
      localStorage.setItem('creatorId', app.creatorId);
    }
  }
  
  function guid() {
    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
  }
  
  function createTeam() {
    var data = {
      team: {
        name: $('#teamName').val(),
		shortname: $('#teamShortName').val(),
        logo: $('#teamLogo').val(),
        players: $('#teamPlayers').val()
      }
    };
    $.ajax({
      url: "/rtga/team/",
      type: "POST",
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      headers: {
        "X-CSRFToken": $(document.body).data('csrf-token'),
        "X-CREATORID": app.creatorId
      },
      success: function (data, textStatus, jqXHR) {
        console.log(JSON.stringify(data));
      }
    });
  }

$(function(){
  initCreatorId();
  $('#btnTeamCreate').click(createTeam);
});
</script>

</body>
</html>
